.OnePlayer{
    height: 20px;
    opacity: 1;  
    z-index: 1;  
}
.OnePlayer h3{
    opacity: 1;
    font-size: large;
    font-weight: bolder;
}
.OrderPlayerComp{
    height: 100%;   
    margin-top: 30%;

}
.Backgroundcontainer{
height: 100%;
width: 100%;
position: absolute;
min-height: 400px;
}
.Contentcontainer{
    width: 100%;
    height: 100%;
    z-index: 1;
    margin-top: 20%;
    opacity: 1;
    color: rgb(0, 0, 0);
}
.PlayerNameContainer{
    margin-bottom: 10px;

}