.roleButton.button.ros {
    width: 150px;
    height: 56px;
    border: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: black;
    margin: 0;
}

.roleButton.button.ros:before {
    background-color: transparent;
    opacity: 1;
}